:root{
    --dark: #222323;
    --light: #F1F1D4;
    --secondary: rgb(48, 48, 48);
    --hover: #ffffff31;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    height: 100vw;
    overflow: hidden;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: var(--dark);
    /* background-image: url('../images/dnd background.jpg'); */
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */
}

img{
    max-width: 100%;
}

Header {
    text-align: center;
    font-size: 3rem;
}

.btn {
    display: block;
    background: var(--dark);
    color: var(--light);
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    text-align: center;
    border: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
    cursor: pointer;
    /* disables selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.btn:hover {
    background: var(--hover);
}

.wrapper{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
}

.main-nav{
    grid-column: 2/3;
}

.main-nav ul {
    display:grid;
    grid-gap:15px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: var(--secondary);
    color: var(--light);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    display:block;
    box-shadow: var(--shadow);
    transition: background 0.3s, color 0.3s;
}

.main-nav a:hover {
    background: var(--hover);
    color: var(--dark);
}

#selected-nav {
    background: white;
    color: var(--dark);
}

#title-holder {
    perspective: 800px;
    grid-column:2/3;
    left: 0;
    line-height: 250px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#title {
    color: black;
    background: linear-gradient(to bottom right, #ff00ea 25%, #00ffff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 5vw;

    transition: transform 0.3s ease-in-out;
    cursor: default;
}

#title:hover {
    transform: rotateY(30deg);
}

#die-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1vw;
}

.die-header {
    text-align: center;
    padding-top: 0.9rem;
    font-size: 1.3rem;
}

#roll-button {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.1vw;
    width: 65%;
    text-align: center;
    margin:auto;
}

#dice-output-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    color: var(--dark);
}

.dice{
    display: block;
    background: lightgray;
    padding: 2rem 0rem;
    margin: 0.1rem;
    font-size: 2rem;
}

@media(min-width: 1600px){
    header{
        font-size: 4rem;
    }

    .btn{
        padding: 0.7rem 0.7rem;
    }

    .wrapper{
        grid-template-columns: 1fr 3fr 1fr;
    }

    #roll-button{
        width: 20%;
    }
}

@media(max-width: 700px) {
    /* change stuff here when the viewport width is less than above value */

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    #dice-output-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #die-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #title-holder {
        position: relative;
        font-size: 20vw;
        line-height: 25vw;
        margin: auto;
    }
    #title {
        font-size: 10vw;
        line-height: 10vw;
    }
}

@media(max-width: 500px) {

    #dice-output-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 300px) {
    #dice-output-container{
        grid-template-columns: 1fr;
    }
}